body{
    margin: -2%;
    padding: 0%;
}   
.nav {
   width: 100%;
   background:#eeebeb;
   float: left;
   height: 100px;
   text-align: center;
   padding: 0 0 0 18%;
   position: fixed;
   font-family:monospace;


}
.nav ul li {

   margin: 0%;
   padding: 2% 0% 0% 0%;
   color: #898989;
   float: left;
   line-height: 50px;
   list-style: none;
    width: 200px;
    height: 55px;
   
}
.nav  ul :hover{
   background: #7c3731;
}
.nav  ul ul :hover{
    background: #7c3731;
 }
 
.nav ul li a {
    text-align: center;
    

text-decoration: none;
}
.nav ul ul  {
   position: absolute;
   width: 150px;
   display:  none;
} 
.nav ul :hover  ul {
   display: block;
}
p{
   color: green; font-size: 20px ; text-align: right;

}
.imgm{
     width:100%;
    height:700px;
}
 
.nav  ul ul li {
        background: white;
        margin:0% -28%;
 }
 .div1{
     position: absolute;
    left: 300px;
    top: 200px;
    background-color: rgba(255, 255, 255, 0.9);
     width: 1000px;
    height: 200px;
    text-align: center;

}
.div1 select { 
    margin-right: 53px;
    margin-left: 7%;
     margin-top: 98px; 
     width: 200px;
     height:60px;
    background: white;
    font-family:monospace;
    font-size:x-large;
    text-align-last: center;
    border: 2px solid #4CAF50;



    }
    
